@font-face {
	font-family: 'instant-palette';
	src:url('fonts/instant-palette.eot?-bzikyb');
	src:url('fonts/instant-palette.eot?#iefix-bzikyb') format('embedded-opentype'),
		url('fonts/instant-palette.ttf?-bzikyb') format('truetype'),
		url('fonts/instant-palette.woff?-bzikyb') format('woff'),
		url('fonts/instant-palette.svg?-bzikyb#instant-palette') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
	font-family: 'instant-palette';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.i-revert:before {
	content: "\e609";
}
.i-random:before {
	content: "\e608";
}
.i-clear:before {
	content: "\e605";
}
.i-accept:before {
	content: "\e606";
}
.i-close:before {
	content: "\e607";
}
.i-dn:before {
	content: "\e600";
}
.i-draw:before {
	content: "\e601";
}
.i-dropper:before {
	content: "\e602";
}
.i-eraser:before {
	content: "\e603";
}
.i-up:before {
	content: "\e604";
}
